header {
  .navbar {
    padding: 2% 0;
    border-bottom: 2px solid #f1f1f1;
    background-color: #ffffff;

    &.dark-mode {
      background-color: $headerAndCardDark;
    }

    .container {
      display: block !important;

      .row {
        @include Flexing(center);

        .left-nav {
          h4 {
            margin: 0;
          }
        }

        .right-nav {
          @include Flexing(center, flex-end);

          .dark-mode-btn {
            border: none;
            background-color: transparent;
            margin: 0;
          }
        }
      }
    }
  }
}

.dark-mode-text {
  color: #fff;
}

@media (max-width: 576px) {
  .navbar {
    padding: 7.5% 0 !important;
    .left-nav {
      h4 {
        font-size: 1.2rem;
      }
    }

    .right-nav {
      .dark-mode-btn {
        color: #000;

        &.dark-mode-text {
          color: #fff;
        }
      }
    }
  }
}
