@import "reset";
@import "flexmixin";
@import "loader";
@import "header";
@import "search";
@import "filter";
@import "cards";
@import "details";

#filter-search {
  padding: 3.5% 0;
}

main {
  background-color: #fafafa;

  &.dark-mode {
    background-color: #121212;
  }
}
