@import "reset";
@import "variables";
@import "flexmixin";
@import "loader";
@import "header";
@import "search";
@import "filter";
@import "cards";
@import "details";

// html {
//   scroll-behavior: auto !important;
// }

#filter-search {
  padding: 3.5% 0;
}

.App {
  background-color: #fafafa;

  &.dark-mode {
    background-color: $contentDark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }

    span.badge-custom,
    a:not(.btn) {
      background-color: $headerAndCardDark !important;
      color: #ffffff !important;
    }

    li,
    b {
      color: #ffffff;
    }
  }
}
